body {
    font-family: 'Open Sans', sans-serif;
    margin: 60px 0 60px 0;
}

/* button default
---------------------------- */
.btn-default {
    color: #000000;
    background-color:white;
    border-color: #000000;
    
}

    .btn-default:focus {
        color: #000000;
        background-color: white;
        border-color: #000000;
    }

    .btn-default:active,
    .btn-default:hover {
        color: #000000;
        background-color:white;
        border-color: #000000;
        top:10px;
    }

/* button-xs
---------------------------- */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.img{
    background-size:50px 50px;
    object-fit:fill;



}


div {
    margin: auto;
}

.display-1 {
    font-size: 10px;
}


.display-1 {
    text-shadow: -0.01em -0.01em 0.01em #000000;
    animation: rise 2s ease-in-out 0.5s forwards;
}

@keyframes rise {
    to {
        text-shadow: 0em 0.01em #000000, 0em 0.02em #000000, 0em 0.02em 0.03em #000000, -0.01em 0.01em #000000, -0.02em 0.02em #000000, -0.03em 0.03em #000000, -0.04em 0.04em #000000, -0.01em -0.01em 0.03em #000, -0.02em -0.02em 0.03em #000, -0.03em -0.03em 0.03em #000000;
        transform: translateY(-0.025em) translateX(0.04em);
    }
}

@keyframes outline {
    from {
        text-shadow: 0em -7em 10em #000;
    }

    to {
        text-shadow: 0 0.02em #fff, 0.02em 0 #000000, -0.02em 0 #000000, 0 -0.02em #000000
    }
}





